.navside {
  background: #f8f8f8;
  font-size: 13px;
}
.navside .navside-item {
  border-bottom: 1px solid #d9d9d9;
  border-left: 4px solid transparent;
}
.navside .navside-item a {
  text-decoration: none;
  color: #777777;
  display: block;
  padding: 10px 10px 10px 34px;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}
.navside .navside-item:hover,
.navside .navside-item.active {
  background: #ffffff;
}
.navside .navside-item.active {
  border-left-color: #337ab7;
}
.navside .navside-item .navside-icon {
  position: absolute;
  left: 10px;
  top: 13px;
  color: #337ab7;
}
.navside .navside-group {
  border-bottom: 1px solid #d9d9d9;
}
.navside .navside-group:last-child {
  border-bottom: 1px solid #d9d9d9;
}
.navside .navside-group .navside-item {
  border: none;
}
.navside .navside-group .switchicon {
  float: right;
  color: #337ab7;
}
.navside .navside-items {
  padding: 0px 10px 10px 20px;
}
.navside .navside-items .navside-item {
  border: none;
  background: inherit;
  border: 1px solid transparent;
}
.navside .navside-items .navside-item.active,
.navside .navside-items .navside-item:hover {
  background: #ffffff;
  border-color: #e7e7e7;
  border-radius: 3px;
}
.navside .navside-items .navside-item.active + .navside-item,
.navside .navside-items .navside-item:hover + .navside-item {
  border-top-color: transparent;
}
.navside .navside-items .navside-item a {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
}
.navside .navside-items .navside-item a i {
  display: none;
}
